*,
*:before,
*:after{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none 
}


body{
    background: black;
}

.container{
    background-color: #fff;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(233, 227, 227, 0.395);
}

.timer-display{
    display: flex;
    position: relative;
    width: 92%;
    background: #fff;
    left: 4%;
    font-family: 'Roboto mono', monospace;
    color: blueviolet;
    font-size: 30px;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(122, 12, 180, 0.365);
}

.timer-buttons{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 60px 0 auto;

}

.timer-buttons>button{
    width: 120px;
    height: 45px;
    background-color: orange;
    color: #fff;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.timer-buttons>:nth-child(1){
    background-color: blueviolet;
}

.timer-buttons>:nth-child(2){
    background-color: red;
}

.timer-buttons>button:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.20);
}

.footer-container{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 400px;
    
}

.footer{
    display: flex;
    position: absolute;
    bottom: 10%;
    color: #fff;
    width: 100%;
    max-width: 800px;
    align-items: center;
    justify-content: space-evenly;

} 


.footer-btn{
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 5px;
    outline: none;
    border: none;
}

.footer-btn>a>i{
    color: #fff;
}


h1{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 50px;
}